*.bak
*.class
*.iml
*.jar
*.log
*.orig
*.tmp
*~
.*.swo
.*.swp
.DS_Store
.eastwood
.idea/
.nrepl-port
.rebl/
.repl
/.lein-*
/checkouts
/classes
/logs/
/target
build/
coverage/
out/
pom.xml
pom.xml.asc
profiles.clj
repl-port
